include ../mixins/sub-menu.pug

header.header 
  .container 
    .row.align-item-center
      .col-3 
        .inner-logo 
          a(href="")
            img(src="./img/logo.svg", alt="logo")
      .col-9 
        .inner-menu
          ul 
            li 
              a(href="/") Home
            li(class ="sub-menu")
              -const pathProduct = "/products"
              a(href=pathProduct) Products
                +sub-menu(layoutProductsCategory, pathProduct)
              