extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Account Information")
        if(user.fullName)
          p Name: <b>#{user.fullName}</b>
        if(user.email)
          p Email: <b>#{user.email}</b>
        if(user.phone)
          p Phone: <b>#{user.phone}</b>
        p 
          span Status
          span 
            <b>#{user.status === "active" ? "Active" : "Inactive"}</b>